<!DOCTYPE html>
<html>
<head>
	<link href = "../styles.css" rel = "stylesheet" type ="text/css"/>
	<link href='http://fonts.googleapis.com/css?family=Ubuntu' rel='stylesheet' type='text/css'>
	<title></title>
</head>
<body>
<form action = "/movies" method="POST">
	<input type = "text" name = "title" placeholder = "title">
	<select name = "rating">
		<option value = "awesome">awesome</option>
		<option value = "rotten">rotten</option>
		<option value = "time-consuming">time_consuming</option>
		<option value = "mediocre" selected>mediocre</option>
	</select>
	<input type = "text" name = "img_url" placeholder = "image url"> 
<button>submit</button>
</form>

<% if (movies) %>
<ul> 
	<% movies.each do |movie| %> 
		<li><a href="movies/<%= movie[0]%>"><%= movie[1] %></a></li>
	<% end %> 
</ul>
<% end %> 

</body>
</html>